/* //////////////////////   ESERCIZIO UNO */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-1-square:hover {
    background-color: red;
    transition: background-color 3s;
}
/* //////////////////////   ESERCIZIO DUE */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-2-square:active {
    width: 500px;
    transition: width 3s;
}
/* //////////////////////   ESERCIZIO TRE */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square:hover {
    border-radius: 50%;
    transition: border-radius .5s;
}
/* //////////////////////   ESERCIZIO QUATTRO */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    animation: transparent infinite;
    animation-duration: 4s;
}
@keyframes transparent {
    from {
        opacity: 1;
    }
    to {
        opacity: .0;
    }
}
/* ////////////////////// ESERCIZIO CINQUE */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-5-square:hover {
    transform: scale(200%);
    transition: transform 1s;
}
.ex-5-square:active {
    transform: scale(30%);
    transition: transform 1s;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
/* //////////////////////   ESERCIZIO SEI */
.ex-6-img:hover {
    filter: grayscale(100%);
}
/* //////////////////////   ESERCIZIO SETTE */
/* immagine sette non visibile, sostituita con immagine 6 */
.ex-7-img:hover {
    filter: blur(5px) opacity(.5);
    transition: all .5s;
}
/* //////////////////////   ESERCIZIO OTTO */
.ex-8-img:hover {
    filter: brightness(130%) saturate(150%);
    border-radius: 16px;
    transition: all .5s;
}


.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
